<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Student Management System</title>
<link rel="stylesheet" 
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" 
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
	crossorigin="anonymous">
</head>
<body>
	
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Student Management System</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/staffs}">Staff Management</a>
      </li>
    </ul>
  </div>
</nav>
<br><br>
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
				<h1 class="text-center">Create New Staff</h1>
				<div class="card-body">
					<form th:action="@{/staffs}" th:object = "${staff}" method="post">
						<div class="form-group">
							<label>Staff-Name</label>
							<input
							type="text"
							name="staffname"
							th:field="*{staffName}"
							class="form-control"
							placeholder="Enter Staff First-Name"
							/>
						</div>
						
						<div class="form-group">
							<label for="subjects" class="form-check-label">handling Subjects</label>
							
							<div class="form-check">
							<input
							type="checkbox"
							name="Subjects"
							th:field="*{staffHandlingSubjects}"
							class="form-check-input"
							value="Core-Java"
							/>Core-Java
							</div>
							
							<div class="form-check">
							<input
							type="checkbox"
							name="Subjects"
							th:field="*{staffHandlingSubjects}"
							class="form-check-input"
							value="J2ee"
							/>J2ee
							</div>
							
							<div class="form-check">
							<input
							type="checkbox"
							name="Subjects"
							th:field="*{staffHandlingSubjects}"
							class="form-check-input"
							value="Web-Tech"
							/>Web-Tech
							</div>
							
							<div class="form-check">
							<input
							type="checkbox"
							name="Subjects"
							th:field="*{staffHandlingSubjects}"
							class="form-check-input"
							value="React-JS"
							/>React-JS
							</div>
							
							<div class="form-check">
							<input
							type="checkbox"
							name="Subjects"
							th:field="*{staffHandlingSubjects}"
							class="form-check-input"
							value="Devops"
							/>Devops
							</div>
							
							<div class="form-check">
							<input
							type="checkbox"
							name="Subjects"
							th:field="*{staffHandlingSubjects}"
							class="form-check-input"
							value="SQL"
							/>SQL
							</div>
						</div>
						
						<div class="box-footer">
							<button type="submit" class="btn btn-primary">
								Submit
							</button>
							
							<a th:href="@{/staffs}"><button type="button" class="btn btn-danger">
								Back
							</button>
							</a>
						</div>
						
					</form>
				</div>
			</div>
		</div>
	</div>

</body></html>